*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url('img/Rectangle\ 71.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-position: center;
}
/* <!-- common Navbar in every Page --> */
.top {
    width: 100%;
    /* border: 1px solid red; */
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 3%;
    background-color:#fefefe;
  }
  
  .logo {
    align-items: center;
    width: 100px;
    
  }
  .logo img{
    object-fit: cover;
    width: 100%;
  }
  .menuContainer ul {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  ul li a {
    text-decoration: none;
    color: gray;
    font-weight: 600;

  }
  
  ul li:nth-child(3) a{
    text-decoration: none;
    color: #015db9;
    text-decoration-line: none;
  }
  
  .menuContainer ul li {
    margin-left: 40px;
  }
  .searching input {
    width: 300px;
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 30px;
    align-items: center;
    color: #bbbbbb;
    text-decoration: none;
    padding-left: 15px;
  }
  .hamburgerIcon {
    display: none;
  }
  
  #setIcons{
    display: none;
  }
  /* ----------navbar for mobile screen-------- */
  @media screen and (min-width: 200px) and (max-width: 420px) {
 
  
  .menuContainer {
      display: none;
    }
    .menuContainer ul {
      display: none;
    }
    .searching {
      display: none;
    }
    .hamburgerIcon {
      display: block;
      position: relative;

    }
  
    #setIcons {
      position: absolute;
      top: 2rem;
      width: 105svw;
      height: 50svh;
      right: -1rem;
      z-index: 100;

    }
  
    .mobileMenu ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      gap: 0.5rem;
      font-size: 1.2rem;
      text-align: center;
      background: #fffefe98;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .mobileMenu ul li {
      padding: 12px;
    }
  
  
  }
  /* ----------navbar for tablet screen-------- */
  @media screen and (min-width: 421px) and (max-width: 900px) {
  
    
    .menuContainer {
      display: none;
    }
    .menuContainer ul {
      display: none;
    }
    .searching {
      display: block;
      /* width:10px; */
    }
  
    .hamburgerIcon {
      display: block;
      position: relative;
    }
  
    #setIcons {
      position: absolute;
      top: 3rem;
      width: 105svw;
      height: 50svh;
      right: -1.8rem;
      z-index: 100;
    }
  
    .mobileMenu ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      gap: 1rem;
      font-size: 1.2rem;
      text-align: center;
      background: #fffefe98;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .mobileMenu ul li {
      padding: 12px;
    }
  
    
  }
  
  
  











/* <!-- common Navbar in every Page --> */





/* Search bars inside the body */
.search-bars {
    display: flex;
    margin-top: 50px;
    padding-left: 30%;
}

.search-bars input[type="text"] {
    width: 22%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bars input:first-child {
    width: 320px; 
}

.search-bars input[type="text"]::placeholder {
    color: #999; 
}

.search-bars input[type="text"]:first-child {
    margin-right: 10px; 
}

/* For tablets (landscape) and larger */
@media (min-width: 720px) and (max-width: 1024px) {
    .search-bars {
        padding-left: 7%;
        margin-left: 90px; 
    }

    .search-bars input[type="text"] {
        width: 35%; 
    }
}

/* For phones and smaller tablets */
@media only screen and (max-width: 768px) {
    .search-bars {
        flex-direction: column; 
        align-items: center; 
        padding-left: 0; 
    }

    .search-bars input[type="text"] {
        width: 250px; 
        margin-bottom: 10px; 
    }
      .search-bars input {
        flex: 1;
        box-sizing: border-box;
        margin: 0 5px; 
      }
      .search-bars input:nth-of-type(2){
        margin-right: 12px;
      }
}


/* Images part (mid of navbar and footer) */
.image-container-right {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    margin-bottom: 20px; 
}

.image-container-right img {
    width: 50px;
    height: 50px;
}
.image-container-right img:nth-child(1) {
    position: absolute;
    bottom: 190px; 
    right: 100px;
    width: 200px;
    height: 200px;
    z-index: 2; 
}
.image-container-right img:nth-child(2) {
    position: absolute;
    bottom: 77px; 
    right: 0;
    width: 350px;
    height: 350px;
    z-index: 1; 
} 
/* Media Queries */
@media screen and (max-width: 720px) {
    .image-container-right img:nth-child(1) {
        display: none;
    }

    .image-container-right img:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .image-container-right img:nth-child(1) {
        display: none; 
    }

    .image-container-right img:nth-child(2) {
        display: none;
    }
}
.image-container-mid {
    position: relative;
}

.image-container-mid img {
    position: absolute;
}

.image-container-mid img:nth-child(1) {
    top: 2px;
    left: 280px;
    width: 500px;
}

.image-container-mid img:nth-child(2) {
    top: 40px; 
    left: 340px;
    width: 280px;
    z-index: 1;
}

.image-container-mid img:nth-child(3) {
    left: 0px;
    width: 700px;
    height: 338px;
    top: 50px;
    z-index: 2;
}
/* Media Queries for Tablet */
@media (min-width:768px) and (max-width: 1024px) {
    .image-container-mid img:nth-child(1) {
        left: 10%;
        width: 80%;
    }
    
    .image-container-mid img:nth-child(2) {
        top: 50px;
        left: 15%;
        width: 40%;
    }
    
    .image-container-mid img:nth-child(3) {
        left: 0.5%;
        width: 100%;
        top: 90px;
        height:400px; 
    }
}

/* Media Queries for Phones */
@media (min-width: 320px) and (max-width: 767px) {
    .image-container-mid {
        flex-direction: column;
      }
    .image-container-mid img:nth-child(1){
        left: 20px;
        width: 320px;
    }
    .image-container-mid img:nth-child(2){
        width: 200px;
        left: 70px;
    }
    .image-container-mid img:nth-child(3){
        width: 100%;
        height: 230px;
        top: 170px;
    }
    
      

}
.image-container-left {
    float: left; 
    margin: 0 0 15px 15px; 
}

.image-container-left img {
    display: block; 
    max-width: 100%; 
    height: auto;
}

.image-container-left img:first-child {
    position: relative; 
    top: -80px;
    left: 35px;
    width: 130px;
    z-index: 2;
}
.image-container-left img:nth-child(2) {
    position: relative; 
    top: -140px; 
    left: -15px;
    width: 150px;
    height: 230px;
    z-index: 1;
    
}
/* Media query for tablet devices */
@media (min-width:768px) and (max-width: 1024px) {
    .image-container-left img:first-child {
        display: none;
    }
    
    .image-container-left img:nth-child(2) {
        display: none;
    }
}

/* Media query for phone devices */
@media only screen and (max-width: 480px) {
    .image-container-left img:first-child {
        display: none;
    }
    
    .image-container-left img:nth-child(2) {
        display: none;
    }
}

/* Footer part */
footer {
    background-color: rgba(40, 50, 140, 1); 
    padding: 20px 0; 
    text-align: center;  
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.footer-buttons button {
    padding: 10px 20px;
    margin: 0 20px;
    color: white;
    border-radius: 5px; 
    background-color: rgba(40, 50, 140, 1);
    cursor: pointer;
    border: 1px solid white; 
}
/* Media queries for tablet screens */
@media (max-width: 768px) {
    .footer-buttons button {
        margin: 0 10px; 
    }
}

/* Media queries for phone screens */
@media (max-width: 800px) {
    .footer-buttons {
        display: flex;
        justify-content: space-between;
      }
      
      .footer-buttons button {
        width: 30%; 
        font-size: 10px;
        padding: 2px; 
        /* box-sizing: border-box;  */
      }
}
