* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .outerConatiner {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    }




/* <!-- common Navbar in every Page --> */
.top {
    width: 96%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 3%;
    background-color:#fefefe;
  }
  
  .logo {
    align-items: center;
    width: 100px;
    
  }
  .logo img{
    object-fit: cover;
    width: 100%;
  }
  
  
  .menuContainer ul {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  ul li a {
    text-decoration: none;
    color: gray;
    text-decoration-line: line-through;
  }
  
  ul li:nth-child(3) a{
    text-decoration: none;
    color: #015db9;
    text-decoration-line: none;
  }
  
  .menuContainer ul li {
    margin-left: 40px;
  }
  .searching input {
    width: 300px;
    height: 30px;
    border: 1px solid #bbbbbb;
    border-radius: 30px;
    align-items: center;
    color: #bbbbbb;
    text-decoration: none;
    padding-left: 15px;
  }
  .hamburgerIcon {
    display: none;
  }
  
  #setIcons{
    display: none;
  }
  
  
  
  
  
  
  /* ----------navbar for mobile screen-------- */
  @media screen and (min-width: 200px) and (max-width: 420px) {
 
  
  .menuContainer {
      display: none;
    }
    .menuContainer ul {
      display: none;
    }
    .searching {
      display: none;
    }
    .hamburgerIcon {
      display: block;
      position: relative;

    }
  
    #setIcons {
      position: absolute;
      top: 2rem;
      width: 105svw;
      height: 50svh;
      right: -1rem;
      z-index: 100;

    }
  
    .mobileMenu ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      gap: 0.5rem;
      font-size: 1.2rem;
      text-align: center;
      background: #fffefe98;
      -webkit-backdrop-filter: blur(50px);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .mobileMenu ul li {
      padding: 12px;
    }
  
  
  }
  /* ----------navbar for tablet screen-------- */
  @media screen and (min-width: 421px) and (max-width: 900px) {
  
    
    .menuContainer {
      display: none;
    }
    .menuContainer ul {
      display: none;
    }
    .searching {
      display: block;
      /* width:10px; */
    }
  
    .hamburgerIcon {
      display: block;
      position: relative;
    }
  
    #setIcons {
      position: absolute;
      top: 3rem;
      width: 105svw;
      height: 50svh;
      right: -1.8rem;
      z-index: 100;
    }
  
    .mobileMenu ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      gap: 1rem;
      font-size: 1.2rem;
      text-align: center;
      background: #fffefe98;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .mobileMenu ul li {
      padding: 12px;
    }
  
    
  }
  


/* <!-- common Navbar in every Page --> */

   





    /* main page css */

    .bottom {
        height: 88vh;
        width: 100%;
         padding: 0px 3%;
        /* border: 2px solid blue; */

    }
    .upperbottom{
        height: 15%;
        width: 100%;
        /* border: 2px solid blue; */
        /* padding: 20px 0; */
        display: flex;
        /* -ms-flex-align: start; */
        align-items: center;
    }
    .upperbottom button{
        width:300px;
        color: whitesmoke;
        height: 45px;
        background: linear-gradient(to bottom right, #5284b5, #97cbff);
        outline: none;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: medium;
        box-shadow: 5px 5px 4px #aac8e9;

    }
    .lowerbottom{
        height: 85%;
        width: 100%;
        /* border: 2px solid red; */
    }
    .headingDoctorService{
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
    }

    .userData{
        display: flex;
        justify-content: space-between;
        width:100%;
        background-color:#cfe5fd;
        height:55px;
        margin:5px 2px;
        border-radius:10px;
        align-items:center;
        box-shadow: 5px 5px 4px #aac8e9;
    }
    .userList{
        list-style: none;
        display: flex;
        flex-direction: column;
        left: 1000px;

    }

    .inneruserData1{
        display: flex;
        align-items: center;
        padding-left:250px;
    }

.inneruserData1 h5{
    color: #4a6e93;
    padding-left:20px;
}
/* .inneruserData2{
    padding-right: 220px;
} */
.inneruserData2{
    padding-right: 220px;
}




    .hide{
        display: none;
    }


    /*  Main Page */

     /* ----------main page mobile screen------ */ 
      /* @media screen and (min-width: 200px) and (max-width: 420px) {
        .upperbottom {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .userData{

            display: flex;
            flex-direction: column;

            justify-content: center;
              position: relative;
            height: auto;
            padding: 20px;

        }
        .inneruserData1{
            display: flex;
            flex-direction: column;

            padding-right: 470px;
          align-items: center;

        }
        .inneruserData2 h4{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 250px;
            right:50px;
            bottom: 45px;
        }
     }  */

      /* ----------main page for tablet screen-------- */
    /* @media screen and (min-width: 421px) and (max-width: 767px) {
        .upperbottom  {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .userData{
            display: flex;
            flex-direction: row;
            font-size: 24px;
            justify-content: space-evenly;
            position: relative;
            height: auto;
            padding:  50px;

        }
.upperbottom button{
        width:90%;
        margin: auto;
        color: whitesmoke;
        height: 45px;
        background: linear-gradient(to bottom right, #5284b5, #97cbff);
        outline: none;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: medium;

    }
        .inneruserData1{
            display: flex;
            position: absolute;
            right: 270px;

            margin-right: 100px;
        }
        .inneruserData1 img{
            width:70px;
            height: 70px;

           align-items: center;
        }
        .inneruserData2{
            display: flex;
            position: absolute;
            left: 340px;

        }

    } */
    @media screen and (min-width:768px) and (max-width:991px) {
        .userData{
            display: flex;
            flex-direction: row;

            font-size: 24px;

            position: relative;
            height: auto;
            padding: 70px;

        }
        .inneruserData1 img{
            width:70px;
            height: 70px;

           align-items: center;
        }
        .inneruserData1{
            display: flex;
            position: absolute;
            left: -150px;


        }
        .upperbottom button{
        width:90%;
        margin: auto;
        color: whitesmoke;
        height: 45px;
        background: linear-gradient(to bottom right, #5284b5, #97cbff);
        outline: none;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: medium;

    }
        .inneruserData2{
            display: flex;
            position: absolute;
            left: 500px;

        }


}
    @media screen and (max-width:768px){
        .userData {
            display: flex;
            flex-direction: row;
            font-size: 24px;
            position: relative;
            max-height: 50px;
            padding: 40px;
        }
        .inneruserData1 {
            display: flex;
            position: absolute;
            left: -218px;
        }
        .outerConatiner {
            width: 100%;
            height: 100vh;
        overflow-x: hidden;
            /* border: 2px solid red; */
        }
        .lowerbottom {
            height: 85%;
            width: 100%;
            overflow-x: scroll;
            /* border: 2px solid red; */
        }
 
        .userList{
            width: 837px;
        }
        .userData {
            display: flex;
            flex-direction: row;
            font-size: 24px;
            position: relative;
            max-height: 50px;
            padding: 50px;
            gap: 100px;
            column-gap: 2rem;
        }
        .inneruserData2 {
            display: flex;
            position: absolute;
            left: 600px;
            /* right: 10px; */
        }
        .upperbottom {
            height: 15%;
            width: 50%;
            /* border: 2px solid blue; */
            /* padding: 20px 0; */
            display: flex;
            /* -ms-flex-align: start; */
            align-items: center;
        }
        .inneruserData2 {
            padding-right: 10px;
        }
        .ml-10{
        margin-left: 68%;
        }
        .ml-9{
            text-wrap: nowrap;
            width: 150px;
        margin-left: 18%;
        }
    }
    @media screen and (max-width:425px){
        .upperbottom {
            height: 15%;
            width: 73%;
            /* border: 2px solid blue; */
            /* padding: 20px 0; */
            display: flex;
            /* -ms-flex-align: start; */
            align-items: center;
        }
        .searching input {
            width: 233px;
            height: 30px;
            border-radius: 30px;
            align-items: center;
            color: gray;
            text-decoration: none;
            padding-left: 15px;
        }
        .ml-9{
            text-wrap: nowrap;
            width: 150px;
        margin-left: 24%;
        }
        .ml-10 {
            margin-left: 120%;
        }
    }
    @media screen and (max-width:325px){
        .ml-10 {
            margin-left: 135%;
        }
        .searching {
            display: block;
        }
        .searching input {
            width: 180px;
            height: 30px;
            border-radius: 30px;
            align-items: center;
            color: gray;
            text-decoration: none;
            margin-right: 10px;
        }
        .bottom {
            height: 88vh;
            width: 100%;
            /* padding: 0px 3%; */
            padding-left: 23px;
            /* border: 2px solid blue; */
        }
        .ml-10 {
            margin-left: 152%;
        }
    }