/* ----------navbar for tablet screen-------- */
@media screen and (min-width: 421px) and (max-width: 900px) {
  .menuContainer {
    display: none;
  }
  .menuContainer ul {
    display: none;
  }
  .searching {
    display: block;
    /* width:10px; */
  }

  .hamburgerIcon {
    display: block;
    position: relative;
  }

  #setIcons {
    position: absolute;
    top: 3rem;
    width: 100svw;
    height: 50svh;
    right: 0rem;
    z-index: 100;
  }

  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.2rem;
    text-align: center;
    background: #fffefe98;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
  .mobileMenu ul li {
    padding: 12px;
  }
}

/* Navbar end here  */

/* ----------navbar for mobile screen-------- */
@media screen and (min-width: 200px) and (max-width: 420px) {
  .menuContainer {
    display: none;
  }
  .menuContainer ul {
    display: none;
  }
  .searching {
    display: none;
  }
  .hamburgerIcon {
    display: block;
    position: relative;
  }

  #setIcons {
    position: absolute;
    top: 2rem;
    width: 100svw;
    height: 50svh;
    right: 0rem;
    z-index: 100;
  }

  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    background: #fffefe98;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
  .mobileMenu ul li {
    padding: 12px;
  }
}

@media (max-width: 1024px) {
  .surgeries-main-container {
    flex-wrap: wrap;
  }
  .form-main-container,
  .surgeries-container,
  .clinics-imgs {
    width: 100%;
  }
  .dept-container,
  .clinics-imgs,
  .footer-container {
    width: 100%;
  }
  .single-type {
    min-width: 250px;
  }
}

@media (max-width: 840px) {
  .banner-container {
    max-width: 750px;
  }
  .banner-logo img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -83%;
    left: 11%;
  }
  .banner-container {
    height: 360px;
  }
  .banner-img img {
    width: 82%;
    height: 61%;
    text-align: right;
  }
  .banner-heading h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .banner-heading p {
    font-size: 18px;
    font-weight: 400;
  }
  .allinment-text p {
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
  }
  #form {
    width: 84vw;
    margin: auto;
  }
  .surgeries-main-container {
    gap: 0;
  }
  .dept-container,
  .clinics-imgs,
  .footer-container {
    width: 91%;
  }
  .container {
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 clamp(15px, 5%, 60px); */
    max-width: 750px;
    /* background-color: #ffffff; */
  }

  .parent-container {
    height: 100%;
    display: flex;
    align-items: start;
    /* overflow-y: auto; */
    margin-left: 0;
  }
  .banner-logo img {
    display: none;
  }
  .banner-container {
    height: 300px;
  }
  .banner-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    position: absolute;
    top: 22%;
    right: -5%;
  }
  .text {
    margin-top: 32px;
  }
  .contact-container {
    width: 67%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 2px solid white;
    padding: 13px 9px 13px 7px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    line-height: 0;
    border-radius: 17px;
    font-weight: normal;
    margin: 18px 0;
    /* justify-content: space-between; */
  }
}
@media (max-width: 440px) {
  .book-foem-wrapper {
    min-width: 232px;
  }
  #img-50 {
    height: 90%;
    width: 90%;
  }
  .banner-container {
    max-width: 325px;
  }
  .banner-img {
    display: none;
  }
  .banner-heading {
    width: 300px;
    /* border: 1px solid black; */
  }
  .banner-heading h1 {
    font-size: 17px;
    font-weight: 600;
    width: 100%;
  }

  .banner-logo {
    height: 70px;
    width: 70px;
    padding-top: 36px;
    padding-left: 14px;
  }
  .contact-container {
    width: 71%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    border: 2px solid white;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    line-height: 0;
    border-radius: 17px;
    font-weight: normal;
    margin: 18px 0;
    /* justify-content: space-between; */
  }
  .surgeries-card {
    padding: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  }
  .allinment-heading h1 {
    font-size: 22px;
    font-weight: 500;
  }
  .allinment-text p {
    font-weight: 400;
    line-height: 24px;
    padding: 0px 3px;
    font-size: 15px;
    line-height: 19px;
  }
  .allinment-img-container {
    height: 90px;
    width: 90px;
    position: absolute;
    left: 0px;
    top: 13%;
  }
  .allinment-content {
    position: absolute;
    top: -3px;
    left: 31%;
  }
  .surgeries-heading {
    margin: 5px 0 25px 0;
    font-size: 23px;
    text-align: center;
  }
  .form-main-container {
    width: 40%;
    padding: 14px;
    margin-top: 30px;
  }

  .banner-container {
    height: 227px;
  }
  .banner-heading p {
    font-size: 11px;
    font-weight: 400;
  }
  .banner-gmail {
    font-size: 10px;
  }
  #banner-text {
    font-size: 10px;
  }
  .second-card p {
    margin: 20px 0;
    font-size: 12px;
    line-height: 0px;
    width: 200px;
  }
  .banner-logo {
    height: 128px;
    width: 83px;
    padding-top: 0px;
    padding-left: 14px;
  }
  .text {
    margin-top: 70px;
  }
  .banner-img {
    display: block;
  }
  .text {
    margin-top: 0px;
  }
  .banner-heading {
    width: 220px;
    /* border: 1px solid black; */
  }
  .banner-container {
    height: 183px;
  }
  .banner-heading h1 {
    font-size: 13px;
    font-weight: 600;
    width: 100%;
  }
  .banner-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73%;
    position: absolute;
    top: 41%;
    right: -3%;
  }
  .banner-gmail {
    font-size: 8px;
  }
  .banner-logo {
    padding-left: 7px;
  }
  #banner-text {
    font-size: 7px;
  }
  .banner-container {
    max-width: 363px;
    padding: 6px;
    margin: 10px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 848px) {
  .parent-container {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1224px) and (min-width: 844px) {
  .banner-container {
    margin: 10px 50px;
  }
}
@media screen and (max-width: 768px) and (min-width: 550px) {
  .banner-container {
    margin: 10px 20px;
  }
  .banner-logo {
    height: 147px;
    width: 120px;
    /* padding-top: 36px; */
    padding-left: 30px;
  }
}
