body {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  background-color: #f6fbff;
  overflow-x: hidden;
}

/* Navigation bar starts from here  */

.navbarContainer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  width: 96%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
}
.secondimg {
  position: relative;
  right: 10px;
}

.menuContainer ul {
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: gray;
  font-weight: 600;
}

ul li:nth-child(2) a {
  text-decoration: none;
  color: #5284b5;
  text-decoration-line: none;
}

ul li:nth-child(3) a {
  text-decoration: none;
  color: gray !important;
  text-decoration-line: none;
}

.menuContainer ul li {
  margin-left: 40px;
}
.searching input {
  width: 300px;
  height: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 30px;
  align-items: center;
  color: #bbbbbb;
  text-decoration: none;
  padding-left: 15px;
}
.hamburgerIcon {
  display: none;
  margin-left: 5px;
}

#setIcons {
  display: none;
}

/* Navigation bar ends here */

.banner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1220px;
  height: 400px;
  background-color: #5284b5;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.banner-logo {
  height: 147px;
  width: 120px;
  /* padding-top: 36px; */
  padding-left: 50px;
  position: relative;
}
.banner-logo img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -83%;
  left: 19%;
}
.banner-heading {
  width: 501px;
  /* margin-top: 100px; */
  /* border: 1px solid black; */
}
.text {
  font-size: 15px;
  opacity: 1;
  font-weight: 300;
  line-height: 1.7;
  color: white;
  margin-top: 100px;
}
.banner-heading h1 {
  font-size: 30px;
  font-weight: 600;
}
.banner-heading p {
  font-size: 20px;
  font-weight: 400;
}
.contact-container {
  width: 73%;
  display: flex;
  flex-direction: row;
  gap: 23px;
  border: 2px solid white;
  padding: 13px 31px 13px 30px;
  font-size: 18px;
  text-align: center;
  align-items: center;
  line-height: 0;
  border-radius: 17px;
  font-weight: normal;
  margin: 18px 0;
  /* justify-content: space-between; */
}
#mobile-logo {
  /* margin-top: 2px; */
  height: 14px;
  width: 14px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mb-1px {
  margin-bottom: 1px;
}
.banner-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 14%;
  right: 0%;
  /* border: 1px solid black; */
  border-radius: 50%;
}
.banner-img img {
  width: 100%;
  height: 100%;
  text-align: right;
}
.container {
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 clamp(15px, 5%, 60px);
  max-width: 1220px;
  /* background-color: #ffffff; */
}
.surgeries-main-container {
  display: flex;
  gap: 20px;
  /* position: relative; */
}

.surgeries-container {
  /* background-color: #ffffff; */

  width: 60%;
  /* border: 1px solid black; */
  margin-top: 20px;
}
.container {
  overflow-x: hidden;
}
.surgeries-heading {
  margin: 5px 0 25px 0;
  font-size: 23px;
}
.single-surgery img {
  height: 52px;
  width: 52px;
}
.single-surgery {
  height: 52px;
  width: 52px;
  /* border: 1px solid red; */
  margin: 10px 15px 20px 15px;
}
.single-surgery p {
  width: 20px;
  font-size: 14px;
  margin: 8px 0 5px 0;
}
.surgires-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8%;
  row-gap: 66px;
  padding-bottom: 50px;
}
.surgeries-card {
  padding: 30px;

  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
/* ///////////////////////////////FORM//////////////////////////////// */
.form-main-container {
  width: 40%;
  padding: 20px;
  margin-top: 27px;
}
.parent-container {
  height: 100%;
  display: flex;
  align-items: start;
  /* overflow-y: auto; */
  margin-left: 81px;
}
.book-foem-wrapper {
  /* width: 100%; */
  max-width: 350px;
  min-width: 340px;
  border-radius: 8px;
  position: sticky;
  top: 30px;
  margin: auto;
  padding: 20px 20px 30px;
  box-shadow: 0 2.00475px 12.0285px rgba(0, 0, 0, 0.125);
}
.book-foem-wrapper .form-title {
  text-align: center;
  padding: 10px 0 20px;
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
}
.book-foem-wrapper .common-input-btn {
  background: #fff;
  border: 1px solid #b4b4be;
  border-radius: 8px;
  color: #787887;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 20px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.book-foem-wrapper .common-input-btn img {
  width: 18px;
}
.book-foem-wrapper .custom-width {
  width: calc(100% - 38px) !important;
}
.book-foem-wrapper .term-con-text {
  color: #787887;
  font-size: 12.0285px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 12px;
  text-align: center;
}
.book-foem-wrapper .appintment-btn {
  background: #5284b5;
  border-radius: 22px;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  padding: 12px;
  width: 100%;
  cursor: pointer;
  border: none;
  letter-spacing: 1.5px;
}

.blue-text {
  color: #199fd9 !important;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.location-name {
  display: flex;
  align-items: center;
}
.color-black {
  color: black;
}
#bangaloreBtn {
  color: black;
}
.city-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.city-label img {
  margin-right: 10px;
}
.cities-cont {
  max-height: 280px;
  overflow-y: auto;
  /* overflow-x: hidden; */
  margin-bottom: 20px;
}
#others-container {
  display: none;
}
#input-field {
  padding: 10px;
  border-radius: 5px;
}
#others-submit {
  padding: 7px;
  margin-left: 5px;
  border-radius: 3px;
  border: none;
  background-color: skyblue;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  height: 400px;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  font-size: 48px;
  left: 20px;
  top: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.selct-city-title {
  text-align: center;
  padding: 10px 0 20px;
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
}

.location-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 2px;
  gap: 10px;
}
.location-name .name-icon {
  display: flex;
  align-items: center;
  color: #2d2d32;
  gap: 10px;
}
.location-name .name-icon img {
  width: 20px;
}

.process-container {
  max-width: 600px;
}
.process-container h2 {
  color: #555;
}
.process-container .steps {
  border-left: 2px dashed #aaa;
  margin-left: 20px;
}
.process-container .step {
  position: relative;
  padding: 10px 0 10px 60px;
  margin-bottom: 10px;
}
.process-container .step:last-child {
  margin-bottom: 0;
}
.process-container .step .icon {
  position: absolute;
  left: -22px;
  top: 0;
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  border: 2px solid #aaa;
}
.process-container .step p {
  margin: 0;
  padding: 0;
  color: #666;
  font-weight: 500;
  max-width: 302px;
} /*# sourceMappingURL=style.css.map */
/* ----------footer--------------- */
.footer-container {
  padding: 30px 0 20px 10px;
  width: 60%;
}
.footer-container .first-para {
  font-size: 13px;
  color: #787887;
  font-weight: inherit;
  line-height: 20px;
}
.footer-container p {
  font-size: 14px;
  color: #787887;
  font-weight: inherit;
}
.footer-heading {
  font-size: 20px;
  font-weight: 500;
  /* font-weight: inherit; */
}
.second-card {
  padding-top: 20px;
}
.types-heading {
  font-size: 14px;
  font-weight: 400;
}
.second-card p {
  margin: 20px 0;
  font-size: 12px;
  line-height: 0px;
}
.types-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 68px;
  row-gap: 50px;
}
.single-type {
  width: 18%;
}
.third-card .footer-cites {
  width: 100%;
  font-size: 14px;
  height: 30px;
  line-height: 20px;
}

.single-allinment {
  max-width: 700px;
  height: 120px;
  border: 2px solid #5284b5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
  padding-bottom: 0;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.allinment-img-container {
  height: 90px;
  width: 90px;
  position: absolute;
  left: 24px;
  top: 13%;
}
.allinment-img-container img {
  height: 100%;
  width: 100%;
}
.allinment-content {
  position: absolute;
  top: -3px;
  left: 22%;
}
.allinment-heading h1 {
  font-size: 29px;
  font-weight: 500;
}
.allinment-text p {
  font-weight: 400;
  line-height: 24px;
}
/* Companies Section */
.companies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-block: 50px;
}

.companies img {
  height: 50px;
  width: 200px;
  object-fit: contain;
}

/* Footer Section */
footer {
  background-color: #e8f7f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 80px 30px;
  color: #6a7372;
  gap: 20px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100px;
  /* border: 1px solid red; */
  margin-left: -3rem;
  margin-top: -4rem;
}

.footer-logo img {
  width: 100%;
  object-fit: contain;
}

.footer-logo p {
  margin-top: -2rem;
  width: 300px;
}

footer div h3 {
  text-transform: uppercase;
  color: #5285b4;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

footer div ul li {
  list-style: none;
  padding-block: 3px;
}

footer div ul li a {
  text-decoration: none;
  color: #6a7372;
  font-size: 14px;
}

footer .social-icons img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  cursor: pointer;
  padding: 5px;
}

footer .foot-end .lang {
  display: flex;
  align-items: center;
  border: 1.5px solid #5285b4;
  /* padding-inline: 10px; */
  border-radius: 5px;
}

footer .foot-end .lang img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

footer .foot-end .lang select {
  width: 100%;
  padding: 5px 10px;
  border: none;
  outline: none;
  background: transparent;
}

@media only screen and (max-width: 480px) {
  .get-started {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .companies {
    padding-block: 20px;
  }
  footer ul {
    padding: 0;
  }
  .companies img {
    height: 30px;
    width: 80px;
    padding-right: 0;
  }

  footer {
    /* grid-template-columns: repeat(1, 1fr);
        padding-block: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lang {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .get-started {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
  }

  .companies {
    padding-block: 30px;
  }

  .companies img {
    height: 40px;
    width: 100px;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
    padding-block: 30px;
  }
}

/* blue strip */
/* Styles for phones */
@media screen and (max-width: 767px) {
  .jambotron {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .group {
    margin-bottom: 20px; /* Adjust spacing between items */
    text-align: center;
  }

  .group-2,
  .group-3 {
    display: none; /* Hide other groups on smaller screens */
  }
}

/* Styles for laptops */
@media screen and (min-width: 768px) {
  .jambotron {
    display: flex;
    justify-content: space-around;
  }

  .group {
    width: 30%;
    text-align: center;
  }

  .group-2,
  .group-3 {
    display: block;
    width: 30%;
    text-align: center;
  }
}
