@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1px;
  background-color: white;
}

.navbar-child{
  width:96%;
  height: 12svh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.logo {
 width: 100px;

}

.logo img{
   object-fit: cover;
   width: 100%;
}

.nav_items {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  color: #828282;
}

.nav_search {
  width: 52%;
  position: relative;
}

.nav_search button {
  position: absolute;
  top: 13%;
  right: 2%;
  border: none;
  background-color: #fff;
  color: #828282;
  outline: none;
}
.nav_search input {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-left: 20px;
}
.nav_search input:focus {
  outline: none;
  border: 2px solid #e0e0e0;
}

.nav_search input i {
  position: absolute;
  top: 10%;
  right: 2%;
}

.right-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  align-self: flex-end;
  
}

i:hover {
  color: #2f80ed;
  cursor: pointer;
}

.doc_info {
  margin: 5px;
}
.doc_info > p {
  font-size: 12px;
  color: #000;
}
.doc_info > h5 {
  color: #000;
}

.nav_date > input {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 6px;
}
.nav_date > input:focus {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.nav_menu_icons{
  display: flex;
  gap: 1rem;
}

.nav_menu_icons > i:hover {
  cursor: pointer;
}



/* main-secton */
.hero_section {
  display: flex;
  /* justify-content: space-between; */
}
.sidebar {
  background-color: #fff;
  width: 15svw;
  height: 90vh;
  padding: 20px 0;
  box-shadow: 3px 3px 5px #e0e0e0;
  position: fixed;
  /* top: 14%; */
  /* left: 0; */
}
.sidebar > p {
  /* margin-top: 20px; */
  /* margin-left: 30px; */
  padding-bottom: 20px;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 12px;
  color: #828282;
}

.sidebar > ul > li {
  border-radius: 5px;
  padding-left: 30px;
  height: 38px;
  display: flex;
  align-items: center;
}
.sidebar_item:hover,
.sidebar_item > a:hover {
  color: #2f80ed;
}

.sidenav_link {
  color: #828282;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.sidenav_link > div {
  width: 40px;
  height: 35px;
}
.sidebar > a > p {
  text-align: center;
}

.divider_bottom_1 {
  width: 9rem;
  border: 1px solid #e0e0e0;
  margin: 10px auto 0;
  color: #e0e0e0;
}

.divider_bottom_2 {
  width: 9rem;
  border: 1px solid #e0e0e0;
  margin: 90px auto 0;
  color: #e0e0e0;
}


/* breadcrumb */
ul.breadcrumb {
  margin-left: 30px;
  padding: 10px 16px;
  list-style: none;
  /* background-color: #eee; */
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  /* content: "/\00a0"; */
  content: ">";
}
ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/* media -queries */

/* navbar */

@media (max-width: 480px) {
  .navbar {
    /* max-width: 480px; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #e0e0e0;
    background-color: #fff;
    position: sticky;
    top: 0;
  }
 




  .nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #828282;
  }
  .nav_search {
    max-width: 150px;
    flex: 1;
    position: relative;
  }
  .nav_search form input {
    margin-top: 5px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 20px;
  }
  .nav_search input:focus {
    outline: none;
    border: 2px solid #e0e0e0;
  }
  .nav_search button {
    background: transparent;
  }
  .nav_search i {
    background: transparent;
    font-size: 20px;
    margin: 5px auto;
    /* position: absolute;
    top: 20%;
    right: 2%; */
  }
  i:hover {
    color: #2f80ed;
    cursor: pointer;
  }

  .doc_info {
    display: none;
  }


  .right-info{
    gap: 0rem;
    align-self: flex-end;
    align-items: center;
    height:5svh;
    
  }
  .nav_date > input {
    display: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 6px;
  }
  .nav_date > input:focus {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
  .nav_menu_icons {
    display: flex;
    
  }
  .nav_menu_icons > i {
    font-size: medium;
   
  }

  

  .divider_bottom_1 {
    width: 2rem;
  }
  
  .divider_bottom_2 {
    width: 2rem;
  }
  

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22svw;
  }
  .sidenav_link p {
    display: none;
  }


  .date{
    color: rgb(105, 105, 105);
  }
 
}
@media (min-width: 480px) and (max-width: 900px) {
  .navbar {
    /* max-width: 768px; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #e0e0e0;
    background-color: #fff;
    position: sticky;
    top: 0;
  }

  .nav_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 40px; */
    color: #828282;
  }
  .nav_search {
    max-width: 200px;
    flex: 1;
    position: relative;
  }
  .nav_search > input {
    margin: 0 auto;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 20px;
  }
  .nav_search > input:focus {
    outline: none;
    border: 2px solid #e0e0e0;
  }
  .nav_search > i {
    position: absolute;
    top: 10%;
    right: 2%;
  }
  i:hover {
    color: #2f80ed;
    cursor: pointer;
  }

  .doc_info {
    display: block;
  }

  .nav_date > input {
    display: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 6px;
  }
  .nav_date > input:focus {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
  .nav_menu_icons {
    display: flex;
  }
  .nav_menu_icons > i {
    font-size: medium;
  
  }

  .divider_bottom_1 {
    width: 4rem;
    margin: 0;
    margin-left: 1rem;
  }
  
  .divider_bottom_2 {
    width: 4rem;
    margin: 0;
    margin-left: 1rem;


  }


  .sidenav_link p {
    display: none;
  }

   
}




/* body content.......................................... */
.main-container {
  background-color: rgb(245, 245, 245);
  width: 100%;
  min-height:91svh;
  margin-left:14%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  
}
.header{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.imggg{
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  margin-left: 750px;
  gap: 15px;
}

.imggg img{
  cursor: pointer;
}

.list{
  background-color: white;
  height: 55px;
  margin-left: 0px;
  margin-top: 15px;
  border: 1px solid rgb(245, 245, 245);
}


.heading{
  padding:1rem 0;
  text-align: center;

}




.userListJs {
  width: 100%;
}
.userListJs li{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding-left: 2rem;

}
.userDataItem{
  display: flex;
  justify-content:center;
  align-items:center;
  font-size: 1rem;
}
.pat-status{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 150px !important;
  height: 50px;
  margin: 0 auto;

}

.userData{
  list-style-type: none;
}

.option{
  font-size: 1.5rem;
  color: #535353;
  text-align: right;
}
.heading-option{
  text-align: center;
  padding-right: 0rem;
}

.userDataItem p{
  font-size: 1rem;
  padding-right: .2rem;
  font-weight: 600;
}



.header-burger{
  display: none;
}


.pagination{

  display: flex;
  gap: 2rem;
  justify-content:flex-end;
  align-items: center;
  padding-right: 2rem;
}

.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button{
  border: none;
  background: none;
  cursor: pointer;
}

#userList1{
  overflow-x:hidden;
  width: 83svw !important;
  background: #fff;
  /* border: 1px solid red; */
}

.numbers{
  display: flex;
  justify-content:flex-start;
  gap: 2rem;
}

/* Media queries for tablet */
@media screen and (max-width: 868px) {
 
  .header-burger{
    display: none;
  }
   

  .pat-status{
    width: 120px !important;
    height: 40px;
  }
  
 
  .userListJs li{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 2rem;
    padding: 0;
    /* text-wrap: nowrap; */
  }
 
  .main-container {
      padding: 10px;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
  
  }

  .imggg{
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    gap: 15px;
    cursor: pointer;
  }
  #userList1{
    overflow-x:hidden;
    width: 83svw !important;
    background: #fff;
    font-size: .8rem;
    /* border: 1px solid red; */
  }
  .numbers{
    gap:.2rem;
  }
  

  .userDataItem{
    text-align: left;
    line-height: 1rem;
  }




}

/* Media queries for phone */
@media screen and (max-width: 480px) {
   #sideSection{
     display: none;
   }

   #burger{
     padding-left: 2.5rem;
   }
  .header-burger{
    display: block;
  }

  .main-container {
      /* padding: 5px;
      margin-left: 22%; */
      margin: 0;
  }
  .header {
      flex-wrap: nowrap;
      justify-content:center;  
      gap: 1rem;
      width: 95svw;
  }

 
  .heading{
    padding: 5px;
    text-align: center;
  }

  .next-appointment{
    text-wrap: nowrap;
  }

  .heading-option{
    text-align: center;
  }


  .option{
    font-size: 1rem;
    text-align: center;
    padding-right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #userList1{
    overflow-x:hidden;
    width: 96svw !important;
    background: #fff;
    font-size: .8rem;
    /* border: 1px solid red; */
  }
   
  .userListJs li{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }



  .pat-status{
    font-size: .8rem;
    width: 100px !important;
    height: 30px;
    padding: 0 !important;
  }
 
   .userDataItem{
    text-align: left;
    line-height: 1rem;
  }

  .numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
  }

 
  
  .pat-count{
    margin-right:7rem;
    text-wrap: nowrap;
  }

  .fa-bars{
    margin-left: -2rem !important;
  }
  
 

}




