@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 1440px;
  max-height: 875px;
}

 
.navbar {
  /* width: 100%; */
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px #e0e0e0;
  background-color: #fff;
  position: sticky;
  top: 0;
}

.logo_container {
  width: 30vw;
  height: 50px;
}

.logo {
  max-width: 200px;
  text-align: center;
  font-size: 32px;
  color: #2f80ed;
  text-align: center;
}

.nav_items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #828282;
}

.nav_search {
  margin-left: 0 40px;
  max-width: 600px;
  flex: 1 3 150px;
  height: 40px;
  position: relative;
}

.nav_search button {
  position: absolute;
  top: 13%;
  right: 2%;
  border: none;
  background-color: #fff;
  color: #828282;
  outline: none;
}
.nav_search input {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding-left: 20px;
}
.nav_search input:focus {
  outline: none;
  border: 2px solid #e0e0e0;
}

.nav_search input i {
  position: absolute;
  top: 10%;
  right: 2%;
}

i:hover {
  color: #2f80ed;
  cursor: pointer;
}

.doc_info {
  margin: 5px;
}
.doc_info > p {
  font-size: 12px;
  color: #000;
}
.doc_info > h5 {
  color: #000;
}

.nav_date > input {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 6px;
}
.nav_date > input:focus {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
.nav_menu_icons > i {
  margin: 0 10px;
}

.nav_menu_icons > i:hover {
  cursor: pointer;
}

/* main-secton */
.hero_section {
  display: flex;
  /* justify-content: space-between; */
}
.sidebar {
  background-color: #fff;
  width: 20vw;
  height: 90vh;
  padding: 20px 0;
  box-shadow: 3px 3px 5px #e0e0e0;
  position: fixed;
  /* top: 14%; */
  /* left: 0; */
}
.sidebar > p {
  /* margin-top: 20px; */
  /* margin-left: 30px; */
  padding-bottom: 20px;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 12px;
  color: #828282;
}

.sidebar > ul > li {
  border-radius: 5px;
  padding-left: 30px;
  height: 38px;
  display: flex;
  align-items: center;
}
.active i {
  color: #2f80ed;
}
.active p {
  color: #2f80ed;
}
.sidebar_item:hover,
.sidebar_item > a:hover {
  color: #2f80ed;
}

.sidenav_link {
  color: #828282;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.sidenav_link > div {
  width: 40px;
  height: 35px;
}
.sidebar > a > p {
  text-align: center;
}

.divider_bottom_1 {
  width: 9rem;
  border: 1px solid #e0e0e0;
  margin: 10px auto 0;
  color: #e0e0e0;
}

.divider_bottom_2 {
  width: 9rem;
  border: 1px solid #e0e0e0;
  margin: 90px auto 0;
  color: #e0e0e0;
}



/* breadcrumb */
ul.breadcrumb {
  margin-left: 30px;
  padding: 10px 16px;
  list-style: none;
  /* background-color: #eee; */
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  /* content: "/\00a0"; */
  content: ">";
}
ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.main-container {
  
  width: 80vw;
  margin: 0 0 0 auto;
  height: 90vh;
  position: relative;
  background-color: #e0e0e0;
  
}

.mainTopSection{
  width: 100%;
  /* border: 2px solid green; */
  height: 17%;
  position: fixed;
  
 }
.mainTopSection .breadcrumb{
position: fixed;
/* border: 2px solid black; */
width: 100%;
height: 7%;
}

.mainTopSection .cancelSavebtnconatiner{
  width: 100%;
  height: 60%;
  background-color: #e0e0e0;
  position: absolute;
  top: 45px;
 
 }
 .btnConatiner{
  width: 77%;
  height: 100%;
  /* border: 2px solid red; */
  margin-left: 29px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .btnConatiner h3{
  padding-left: 20px;
 }
 .bothbtn button {
    
  
 }
 #cancell {
  position: relative;
  width: 60px;
  height: 30px;
  right: 40px;
  background: #fff ;
  color: #0000AC;
  border-color: #0000AC;
  border-radius: 5px;
 }
 #savv {
  position: relative;
  width: 60px;
  height: 30px;
  right: 30px;
  background: #0000AC;
  color: #fff;
  border-color: #0000AC;
  border-radius: 5px;
 }
/* Form styles */

.mainFormSection {
  width: 100%;
  height: 100vh;
  background-color: #e0e0e0;
 
  position: relative;
  margin-top: 160px;
  display: flex;
  justify-content: center;
  

}
#formContainer{
 
  height: auto;
  left: 100px;
   
  background-color: white;
  position: absolute;
  right: 100px;
  
}
#formContainer div{
  display: flex;
  justify-content: space-between;
padding: 20px;


}
#formContainer div label{
  color: gray;
}
#formContainer div input{
  width: 450px;
  position: relative;
  right:30px ;
  border-color: gray;
  outline: none;
  border-radius: 5px;
  height: 30px;
}
#notes input{
  width: 450px;
  height: 80px;
}
#formContainer div #mydiv{
  position: relative;
  right: 55px;
  bottom: 20px;
}
#mydiv{
  display: flex;
  flex-direction: column;
}
#mydiv p{
  color: gray;
}
#mydiv #mypara{
  border: 2px solid gray;
  width: 160px;
  padding: 0px 20px;
}
#sex{
  display: flex;
  justify-content: space-evenly;
}
#sex button{
  width: 60px;
  
}
#male{
  position: relative;
  right: 5px;
}
#femalee{
  position: relative;
  right: 320px
  
}

/* media -queries */

/* navbar */

@media (max-width: 480px) {
  .navbar {
    max-width: 480px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #e0e0e0;
    background-color: #fff;
    position: sticky;
    top: 0;
  }
  .logo_container {
    width: 100px;
    height: 40px;
  }
  .logo {
    /* max-width: 200px; */
    text-align: center;
    /* background: #000; */
    font-size: 20px;
    color: #2f80ed;
    text-align: center;
  }

  .nav_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 40px; */
    color: #828282;
  }
  .nav_search {
    max-width: 150px;
    flex: 1;
    position: relative;
  }
  .nav_search form input {
    margin-top: 5px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 20px;
  }
  .nav_search input:focus {
    outline: none;
    border: 2px solid #e0e0e0;
  }
  .nav_search button {
    background: transparent;
  }
  .nav_search i {
    background: transparent;
    font-size: 20px;
    margin: 5px auto;
    /* position: absolute;
    top: 20%;
    right: 2%; */
  }
  i:hover {
    color: #2f80ed;
    cursor: pointer;
  }

  .doc_info {
    display: none;
  }

  .nav_date > input {
    display: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 6px;
  }
  .nav_date > input:focus {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
  .nav_menu_icons {
    display: flex;
  }
  .nav_menu_icons > i {
    font-size: medium;
    margin: 0 10px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidenav_link p {
    display: none;
  }

 
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    max-width: 768px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px #e0e0e0;
    background-color: #fff;
    position: sticky;
    top: 0;
  }
  .logo_container {
    width: 150px;
    height: 40px;
  }
  .logo {
    /* max-width: 200px; */
    text-align: center;
    /* background: #000; */
    font-size: 20px;
    color: #2f80ed;
    text-align: center;
  }

  .nav_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 40px; */
    color: #828282;
  }
  .nav_search {
    max-width: 200px;
    flex: 1;
    position: relative;
  }
  .nav_search > input {
    margin: 0 auto;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 20px;
  }
  .nav_search > input:focus {
    outline: none;
    border: 2px solid #e0e0e0;
  }
  .nav_search > i {
    position: absolute;
    top: 10%;
    right: 2%;
  }
  i:hover {
    color: #2f80ed;
    cursor: pointer;
  }

  .doc_info {
    display: block;
  }

  .nav_date > input {
    display: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 6px;
  }
  .nav_date > input:focus {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
  .nav_menu_icons {
    display: flex;
  }
  .nav_menu_icons > i {
    font-size: medium;
    margin: 0 10px;
  }

  .sidenav_link p {
    display: none;
  }

   
}